.customDefaults {
  font-family: 'Courier New', monospace;
  text-align: center;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
  justify-items: center;
  gap: 5vw;
  height: 100vh;
}

.courseGridWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 4fr;
  margin-top: auto;
  height: 100vh;
}

.gradeGrid {
  grid-column: 2/5;
  grid-row: 2;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.accordion {
  height: 5vw;
  width: 30vw;
  margin: 2vw;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  border-radius: 128px;
  background-color: #2b2a33; /* Default background color */
}

.accordion:hover {
  background-color: #3c3b47; /* Background color on hover */
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.courseDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: auto;
}

.courseButton {
  background-color: #2b2a33;
  font-family: 'Courier New', monospace;
  border-radius: 128px;
  height: 20vw;
  width: 20vw;
  margin: 2vw;
}

.courseButton:hover {
  background-color: #3c3b47; /* Background color on hover */
}

.sectionButton {
  height: 5vw;
  width: 30vw;
  margin: 2vw;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  border-radius: 128px;
  background-color: #2b2a33; /* Default background color */
}

.sectionButton:hover {
  background-color: #3c3b47; /* Background color on hover */
}

.pageHeader {
  font-family: 'Courier New', monospace;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.MessageList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  height: 90%;
  width: 75%;
  margin: 5%;
}

.conversations {
  flex: 1;
  background-color: #2b2a33;
  border-radius: 5%;
  margin-top: 5%;
  width: 100%;
}

.conversations > * {
  margin-left: 10%;
  margin-top: 5%;
}

.announcements {
  flex: 1;
  background-color: #2b2a33;
  border-radius: 5%;
  margin-top: 5%;
  width: 100%;
}

.announcements > * {
  margin-left: 10%;
  margin-top: 5%;
}

.toolBar {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10%;
  width: 25%;
  height: 75%;
  background-color: #2b2a33;
  margin-top: auto;
  margin-bottom: auto;
}
